# Define esta variable para que Streamlit consuma la API Flask
# API_URL=http://localhost:8000

# Define esta variable para API + PostgreSQL
# DATABASE_URL=postgresql+psycopg://user:password@postgres-service:5432/medical_db
